* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.container {
    width: 90%;
    margin: auto;
}

.heading {
    font-style: italic;
    color: green;
    font-size: 1.5em;

    border: 1px dotted red;
}

.text {
    color: blue;
    font-size: 1em;
    line-height: 1.5em;
}

.marked {
    color: red;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.5em;
}

.text2 .marked {
    background-color: pink;
}

ol {
    list-style-type: none;
    list-style-position: inside;
    counter-reset: number;
    color: black;
    border: 1px solid red;
    width: 350px;
    height: 250px;
    padding: 1em 5em 2em 5em;
    margin: 2em auto;
    background-image: url('https://as2.ftcdn.net/v2/jpg/00/98/87/05/1000_F_98870522_isCR5iXt7TCCzrXqb5fPi4LLt5zqIPBq.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    
}
ol li::before {
    content: counter(number) ')';
    counter-increment: number;
}

#red {
    color: red;
}

#orange {
    color: orange;
}

#coral {
    color: coral;
}

#yellow {
    color: yellow;
}

#darkorange {
    color: darkorange;
}

.cat-img {
    width: 200px;
    float: right;

}
.cat-img2 {
    width: 200px;
    display: block;
    margin: auto;
}

a {
    color: coral;
}

a:visited {
    color: green;
}

a:hover {
    color: blue;
}

